<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139959214-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-139959214-1');
    </script>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("votefrank2019")" />
    <meta name="og:title" content="@ViewData["Title"]" />
    @{
        var image = @ViewData["Image"]?.ToString ();
        var imageAlt = @ViewData["ImageAlt"]?.ToString ();
        if (image == null) {
            image = "https://votefrank.org/images/logoc256.jpg";
            imageAlt = "Vote Frank Krueger Campaign Logo";
        }

        var description = @ViewData["Description"]?.ToString ();
        if (description == null) {
            description = "Vote Frank Krueger for Seattle City Council District 4 (Eastlake, Laurelhurst, Ravenna / Roosevelt, Sand Point, U District, and Wallingford).";
        }
    }
    <meta name="og:description" content="@description" />
    <meta name="og:image" content="@image" />
    <meta name="twitter:image:alt" content="@imageAlt" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/"><img src="~/images/votefrank_logo.png" alt="Vote Frank Krueger" height="128" /></a>
            <div class="links">
                <a href="/about">About</a>
                <a href="/solutions">Solutions</a>
                <a class="donate" href="/donate">Donate</a>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="content">
        <div class="paidforby">Paid for by<br/><br/>
        Vote Frank Krueger<br/>
        PO Box 95575<br/>
        Seattle, WA 98145</div>
        <div class="legal">&copy; @DateTime.Now.Year Vote Frank Krueger</div>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
