@page "{name}"
@{
    var elections = Election.All;
    var person = Person.Get(""+@RouteData.Values["name"]);
    ViewData["Title"] = person.Name;
}

<h1>@person.Name</h1>

<section class="text">
    <div class="content">
        <table>
            <tr><td>General Wins</td><td>@person.NumGeneralWins</td></tr>
            <tr><td>General Losses</td><td>@person.NumGeneralLosses</td></tr>
            <tr><td>Primary Wins</td><td>@person.NumPrimaryWins</td></tr>
            <tr><td>Primary Losses</td><td>@person.NumPrimaryLosses</td></tr>
        </table>

        @foreach (var r in person.Races.OrderByDescending(x => x.Date)) {
            <h2><a href="/elections/election/@r.Election.Year/@r.Election.Month">@r.Election.Year @r.Election.Month @r.Election.Kind Election</a></h2>
            @await Html.PartialAsync("_RaceSummary", r)
        }
    </div>
</section>
